log/*
!log/.gitkeep

tmp/*
!tmp/.gitkeep

local/*
!local/.gitkeep

imgui.ini

*~
#.*
.*#
*swp

# Don't save generated ktx files
*.ktx

*-autosave.kra
*.blend?
.emacs*

*.orig
*_BASE_*
*_BACKUP_*
*_LOCAL_*
*_REMOTE_*

assets/fbx/*
assets/audio/*
assets/fonts/*
assets/decals/*
assets/models/*
assets/skybox/*
assets/local/*
build/**

!assets/local/.gitkeep
